<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{325,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,333}</string>
                <key>spriteSourceSize</key>
                <string>{357,333}</string>
                <key>textureRect</key>
                <string>{{75,100},{357,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sealbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,190}</string>
                <key>spriteSourceSize</key>
                <string>{75,190}</string>
                <key>textureRect</key>
                <string>{{0,100},{75,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,74}</string>
                <key>spriteSourceSize</key>
                <string>{325,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{325,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>img.png</string>
            <key>size</key>
            <string>{432,433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cc75d786ba2e272eb186028109537af:721c21762c462ecd85f790949ce1b85f:998d06a3a8cfdeb787bb414d46e791c2$</string>
            <key>textureFileName</key>
            <string>img.png</string>
        </dict>
    </dict>
</plist>
